@import './reset.css';
@import './loader.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

body {
  background-color: #000;
  color: #fff;
  font-family: 'Oswald', sans-serif;

  background-image: url('./../img/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px;
}

.none {
  display: none !important;
}

.search {
  padding-top: 50px;
  height: 140px;
  border: 1px solid #000000;
}

.add {
  display: flex;
  gap: 24px;
}

.add__title {
  width: 500px;
  height: 60px;
  padding: 0 15px;
  font-size: 32px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  hyphens: auto;
  word-wrap: break-word;
}

.add__button {
  width: 250px;
  height: 60px;
  /*  background: #0094ff;*/
  background-color: rgb(16, 85, 205);
  border: none;
  border-radius: 6px;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.films .add__button {
  background: #000000;
}

.container-left {
  padding: 25px 15px 100px;
  width: 930px;
  min-height: 100vh;

  border-right: 1px solid #162344;
}

.container-right {
  position: fixed;
  left: 930px;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  width: 800px;
  padding: 25px;

  background-color: rgba(5, 56, 185, 0.2);
  border-right: 1px solid #162344;
}

.title-1 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.films {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  margin-bottom: 30px;
  margin-top: 100px;
}

.card {
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 20px;
  width: 200px;
  border-radius: 6px;
  background-color: rgb(22, 22, 22);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in,
    box-shadow 0.2s ease-in;
}

.card:hover {
  transform: translateY(-10px);
  background-color: rgb(35, 35, 35);
  box-shadow: 0px 10px 20px rgba(0, 65, 152, 0.451);
}

.card__img {
  margin-bottom: 15px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.card__title {
  padding: 0 5px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
}

.card__year {
  margin-bottom: 5px;
  color: rgb(7, 150, 252);
  font-size: 14px;
  font-weight: 300;
}

.card__rate {
  font-size: 14px;
  color: rgb(240, 246, 75);
}

.show-more {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;

  border-radius: 6px;
  background-color: rgb(16, 85, 205);
  color: #fff;
  transition: opacity 0.2s ease-in;
}

.show-more:hover {
  opacity: 0.8;
}

.loader-wrapper {
  padding: 100px 0;
  text-align: center;
}

/* Films Desc */

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.film {
  display: grid;
  grid-template-areas: 'title title' 'photo desc';
  gap: 30px;
}

.film__title {
  grid-area: title;
  font-size: 28px;
  font-weight: 300;
}

.film__img {
  grid-area: photo;
}

.film__desc {
  grid-area: desc;
}

.film__details {
  color: aqua;
}

.film_text {
  margin-top: 30px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .add {
    margin: 0 auto;
    flex-direction: column;
  }

  .films {
    flex-direction: column;
  }
  .container-left {
    width: 100%;
  }

  .container-right {
    width: 100%;
  }
  .card {
    width: 100%;
  }

  .add__title {
    width: 320px;
  }
}
